body {
	margin: 0;
}
.header_contact {
	margin: auto;
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: lightgrey;
}
.header_contact h1 {
	margin: 0;
}
.header_contact h3 {
	margin-top: -2px;
}
/* Informasi Kontak */
.body_contact .info_kontak {
	background-color: lightblue;
	border-radius: 5px;
	padding: 2px 15px;
	width: 100%;
}
/* Form Pesan */
.body_contact .form_pesan {
	/* background-color: lightgoldenrodyellow; */
	width: 100%;
	border-radius: 5px;
	padding: 2px 15px;
}
.btn-primary:hover {
	background-color: white;
}
footer {
	background-color: rgb(199, 241, 10);
	text-align: center;
}